{{#resume.basics}}
<section id="basics">
    <h1>{{name}}</h1>
    <div class="contact centered">
        {{#if label~}}
        <span class="vertical-separator">{{label}}</span>
        {{~/if}}
        {{#if email~}}
        <span class="vertical-separator">{{wrapMail email}}</span>
        {{~/if}}
        {{!-- {{#if phone~}}
        <span class="vertical-separator">{{phone}}</span>
        {{~/if}} --}}
        {{#each resume.profiles}}
        {{#if network~}}
        <span class="vertical-separator"><a href="{{url}}">{{network}}</a></span>
        {{/if}}
        {{/each}}
        {{#if url~}}
        <span class="vertical-separator">{{wrapURL url}}</span>
        {{~/if}}
    </div>
    {{#if summary}}
    <div class="summary">
        <h2>Summary</h2>
        <p>{{{summary}}}</p>
    </div>
    {{/if}}
</section>
{{/resume.basics}}
