{{#if resume.certificates.length}}
<section id="certifications">
    <h2>Certifications</h2>
    <ul class="item">
        {{#each resume.certificates}}
        <li>
            {{#if name}}
            <strong>{{name}}</strong> {{#if issuer}}: {{#if url}} <a href="{{url}}">{{issuer}}</a>{{else}}{{issuer}}{{/if}}{{/if}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
